{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="reviewPopup popup">
  <div class="popup__title reviewPopup__title">Отзыв</div>
  <form id="reviewForm" method="POST" action="{% url 'submit_review' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="employee">Выберите сотрудника</label>
      <select class="form-control" id="employee" name="employee" required>
        <option value="">---</option>
        <option value="Татьяна">Татьяна</option>
        <option value="Ольга">Ольга</option>
      </select>
    </div>
    <div class="form-group">
      <label for="rating">Оценка</label>
      <select class="form-control" id="rating" name="rating" required>
        <option value="">---</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
    <input type="text" name="name" class="paymentPopup__form_input popup__input" placeholder="Введите ваше имя" required>
    <textarea name="review" class="reviewPopup__form_textarea" placeholder="Текст вашего отзыва"></textarea>
    <div class="contacts__form_checkboxBlock fic">
      <input type="checkbox" class="contacts__form_checkbox" checked>
      <span class="contacts__form_checkboxBlock__intro">
        Я согласен(а) с <a href="#" class="policy-link">политикой конфиденциальности</a>
      </span>
    </div>
    <button class="tipsPopup__btn popup__btn">Отправить отзыв</button>
  </form>
</div>

  <script>
    document.getElementById("reviewForm").addEventListener("submit", function(event) {
      showAlert();
    });

    function showAlert() {
      alert("Спасибо за оставленный отзыв!");
    }
  </script>
{% endblock %}
